body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
    background-color: lightgray;

}

body > header, 
body > main 
{
    width: 1000px;
    margin-top: 20px;
    margin-left: calc(50% - 500px);
}
nav {
    width: 550px;
    float: right;
}

nav > a {
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    line-height: 20px;
    color: rgb(141, 140, 140);
    padding-left: 1px;
    padding-right: 1px;
    margin-left: 10px;
    margin-top: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

nav > a:hover {
    border-bottom: 2px solid red;
    padding-bottom: 5px;
}
nav > a:first-child {
    border-bottom: 2px solid red;
    padding-bottom: 5px;
}

header > nav > a:nth-child

main {
    margin-top: 10px;
    display: inline-block;
}
div {
    width: 500px;
    float: left;
    margin-top: 25px;
    padding-right: 5%;
}

div > h1 {
    color: black;
    font-family: sans-serif ;
    font-weight: normal;
    float: left;
}
h1 > span {
    color: red;
}
div > p {
    color: rgba(0, 0, 0, 0.568);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    float: left;
    margin-top: 25px;
}
div > a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    text-align: center;
    float: left;
    width: 200px;
    padding: 10px;
    color: white;
    border: 5px;
    border-radius: 10px;
    border-color: red;
    background-color: red;
    margin-top: 50px;
}
main > img {
    object-fit: contain;
    object-position: center;
    width: 500px; 
    height: 500px;
    float: left;
}