body {
    background-color: lightgray;

}

header 
{
    width: 1000px;
    background-color: lightgray;
    margin-top: 20px;
    margin-left: calc(50% - 500px);
}

nav {
    width: 550px;
    float: right;
    padding: 15px;
    float: right;
}

a.nav {
    text-decoration: none;
    color: darkgray;
    margin: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

a.nav:hover {
    text-decoration: underline;
}

main {
    display: inline-block;
    width: 1000px;
    background-color: lightgray;
    margin-left: calc(50% - 500px);
}

h1 {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 20px;
    float: left;
}
p {
    color: rgba(0, 0, 0, 0.568);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    float: left;
    margin: 20px;
    width: 450px;
}
a.link {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    text-align: center;
    float: left;
    margin: 20px;
    width: 200px;
    padding: 10px;
    color: white;
    border: 5px;
    border-radius: 10px;
    border-color: red;
    background-color: red;
}