body {
    background-color: lightgray;

}

body > header, 
body > main 
{
    display: inline-block;
    width: 1000px;
    background-color: lightgray;
    margin-top: 20px;
    margin-left: calc(50% - 500px);
}
nav {
    width: 550px;
    float: right;
    padding: 0px;
    float: right;
}

nav > a {
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    line-height: 20px;
    color: darkgray;
    padding-left: 1px;
    padding-right: 1px;
    margin-left: 10px;
    margin-top: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

nav > a:hover {
    border-bottom: 2px solid red;
    padding-bottom: 5px;
}
nav > a:first-child {
    border-bottom: 2px solid red;
    padding-bottom: 5px;
}

nav > a:nth-child

main {
    margin-top: 10px;
}

h1 {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 20px;
    float: left;
}
p {
    color: rgba(0, 0, 0, 0.568);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    float: left;
    margin: 20px;
    width: 450px;
}
div > a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    text-align: center;
    float: left;
    margin: 20px;
    width: 200px;
    padding: 10px;
    color: white;
    border: 5px;
    border-radius: 10px;
    border-color: red;
    background-color: red;
}